
.cell {
  --size: 5em;
  width: var(--size);
  height: var(--size);
  background-color: blue;
  border: 1px solid black;

  &[data-state="S"] {
    background-color: hsl(120, 70%, 40%);
  }

  &[data-state="G"] {
    background-color: hsl(0, 70%, 50%);
  }

  &[data-state="."] {
    background-color: hsl(0, 0%, 90%);
  }

  &[data-state="#"] {
    background-color: hsl(0, 0%, 18%);
  }

  &[data-state="x"] {
    background-color: hsl(0, 0%, 62%);
  }

  &[data-state="X"] {
    background-color: hsl(189, 83%, 50%);
  }
}
